*{
	margin: 0;
	padding: 0;
	cursor: url('assets/cursor.png'), auto;
	scroll-behavior: smooth;
}

body{
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

label{
	font-family: 'Courier New';
	font-size: 12px;
	font-weight: bold;
}


.canvas{
	padding: 50px;
	border: 3px solid #212121;
	width: 80%;
	background-color: #d9dbda;
	text-align: center;
	margin: 50px auto;
	box-shadow: inset -5px -5px #969a9b;
}

.mbti{
	font-size: 100px;
	font-family: 'Courier New';
	font-weight: bold;
	color: #212121;
	width: 100%;
}

.pt_text{
	font-size: 30px;
	font-family: 'Courier New';
	font-weight: bold;
	color: #212121;
	width: 100%;
}

.btn_starttest {
	width: 100%;
	border: 5px solid #000;
	margin-top: 50px;
	padding: 10px;
	font-size: 20px;
	font-family: 'Courier New';
	font-weight: bold;
	border-radius: 30px;
	background-color: rgb(28, 158, 237);
	color: #fdfdff;
	box-shadow: inset 0 -5px #4e84c3;
	cursor: url('assets/cursor-click.png'), auto;
}

.btn_starttest:hover {
	transition: 0.5s ease-in-out;
	background-color: #000000;
	box-shadow: inset 0 -5px #fff;
  	opacity: 1;

}


/*questions*/
.questions{
/*	margin: 30px;
	padding: 30px;*/
	width: 100%, auto;
	display: flex;
/*	background-color: #f3ece6;*/
	text-align: center;
/*	box-shadow: inset -5px -5px #969a9b;
*/
}

.qtext{
	font-size: 20px;
	font-family: 'Courier New';	
	font-weight: bold;
	width: 100%;
}


.btn{
/*	border: 5px solid #000;*/
	margin-top: 20px;
	width: 100%;
	padding: 20px;
	font-size: 15px;
	font-family: 'Courier New';	
	font-weight: bold;
	border-radius: 5px;
	background-color: rgb(28, 158, 237);
	color: #fdfdff;
	box-shadow: inset -5px -5px #4e84c3;
	cursor: url('assets/cursor-click.png'), auto;
}

.btn:hover {
	transition: 0.5s ease-in-out;
	background-color: #000000;
	box-shadow: inset -5px -5px #fff;
  	opacity: 1;

}


.footertext{
	color: #212121;
	font-family: 'Courier New';
	font-weight: bold;
	font-size: 15px;
}

.result{
	width: 80%;
	text-align: center;
	margin: 50px auto;
	height: 100%;
	align-content: center;
	border: 3px solid #212121;
}

img{
	width: 100%;
	height: 100%;
}

footer{
	margin: 0;
	padding: 30px;
	text-align: center;
}

#info{
	margin: 0;
	padding: 30px;
	text-align: center;
}

.contact{
	display: inline-block;
	margin-bottom: 5px;
	text-align: center;
	color: #212121;
	font-family: 'Courier New';
	font-weight: bold;
	font-size: 15px;
}

.note{
	display: inline-block;
	margin-bottom: 5px;
	text-align: center;
	color: #d3d3d3;
	font-family: 'Courier New';
	font-weight: bold;
	font-size: 20px;
	margin-top: 20px;
}

@media screen and (max-width: 768px){
	body{
		max-width: 480px;
	}
}